@import "tailwindcss";

/* THEME VARIABLES */
:root {
  --primary: 270 91% 45%;
  --primary-foreground: 0 0% 100%;

  --secondary: 270 30% 96%;
  --secondary-foreground: 270 80% 30%;

  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --border: 220 13% 91%
}

/* Map Tailwind colors */
@theme {
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  
  --color-border: hsl(var(--border)); 
}

/* Base styles */
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
