@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-neutral-900;
}

/* White overlay for readability */
.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
}

/* Content stays above overlay */
.hero-bg-content {
  position: relative;
  z-index: 2;
}
/* * {
  outline: 1px solid red;
} */